<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.xt.mp.dao.readonlydao.ReadonlyTbCompanyUserMapper" >
  <resultMap id="BaseResultMap" type="com.cn.xt.mp.mpModel.TbCompanyUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="psw" property="psw" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="auth" property="auth" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, openid, account, psw, name, company_id, auth
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_company_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>